<!doctype html>
<html class="h-full overflow-auto">
<head>
  <title>
    Klima im Advent
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <style>
    body {
      background: #c4c4c4;
    }
  </style>
</head>
<body class="flex h-full min-w-screen justify-beginning overflow-y-hidden overflow-x-scroll">
  <ul class="flex flex-none item-center overflow-scroll">
    <% for (let i = 1; i < 10; ++i) {%>
    <li class="flex items-center overflow-hidden w-screen">
      <a href="/tag/1" class="w-full">
        <img src="/background_<%=i%>.jpg" class="w-full">
      </a>
    </li>
    <% } %>
  </ul>
  <script>
    let body = document.getElementsByTagName('body')[0];

    let lastX = 0;
    body.addEventListener(
      'touchstart',
      (event) => {
        console.log(event.touches[0].clientX);
        lastX = event.touches[0].clientX;
      });
    body.addEventListener(
      'touchmove',
      (event) => {
        event.preventDefault();
        console.log("New Position:", event.touches[0].clientX);
        let currentX = event.touches[0].clientX;
        let distance = lastX - currentX;
        console.log("Distance: ", distance);
        body.scrollBy({
          left: distance,
          behaviour: 'smooth',
        });
        lastX = event.touches[0].clientX;
      },
      {
        passive: false,
      });
    body.addEventListener(
      'touchend',
      (event) => {
        event.preventDefault();
        console.log('end');
        let remainder = body.scrollLeft % screen.width;

        if (remainder < screen.width / 2) {
          body.scroll({
            left: body.scrollLeft - remainder,
            behavior: 'smooth',
          });
        } else {
          body.scroll({
            left: body.scrollLeft + screen.width - remainder,
            behavior: 'smooth',
          });
        }
      });
  </script>
</body>
</html>
