<!doctype html>
<html class="h-full overflow-hidden">
<head>
  <title>
    Klima im Advent
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <style>
    body {
      background: #c4c4c4;
    }
    li:nth-child(1) {
      margin-left: 5vw;
    }
    li:last-child {
      margin-right: 5vw;
    }
    li {
      width: 90vw;
    }
    .dark-edges {
      background:
        linear-gradient(
          .25turn,
          rgba(0,0,0,.5), transparent 7%,
          transparent 93%, rgba(0,0,0,.5));
      pointer-events: none;
    }
    ul {
      transition: transform 0.3s;
    }

    @media (orientation:portrait) {
      .mysterious-element {
        width: 95vw;
      }
    }
    @media (orientation:landscape) {
      .mysterious-element {
        height: 100%;
      }
    }

    #zuckerstange {
      transform: rotate(-90deg);
      left: calc(40% - 20px);
    }
    #overview {
      top: 100vh;
    }
  </style>
  <%- include("matomo") %>

</head>
<body
  class=
    "min-w-screen justify-beginning overflow-y-hidden overflow-x-scroll flex
    h-screen"
  >
  <main class="h-screen">
    <ul class="flex flex-none item-center overflow-hidden h-full">
      <% for (let i = 1; i < 10; ++i) {%>
      <li class="flex items-center justify-center overflow-hidden">
        <a href="/tag/1">
          <img src="/background_<%=i%>.jpg" class="mysterious-element">
        </a>
      </li>
      <% } %>
    </ul>
    <div class="absolute left-0 top-0 h-full w-full dark-edges">
    </div>
  </main>
  <div class="h-screen flex-none flex flex-col absolute bg-white" id="overview">
    <img src="zuckerstange.svg" class="absolute" id="zuckerstange">
    </img>
    <% for (let i = 0; i < 4; ++i) {%>
      <div class="flex-grow items-center flex h-3/12 bg-white z-10">
        <% for (let j = 1; j < 7; ++j) {%>
        <div class="w-2/12">
          <img src="/background_<%=i * 6 + j%>.jpg">
        </div>
        <% } %>
      </div>
    <% } %>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
