<!doctype html>
<html>
<head>
  <title>
    Klima im Advent
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <style>
    body {
      background: #c4c4c4;
    }
    main {
      padding-left: calc((100% - 360px)/2);
      padding-right: calc((100% - 360px)/2);
    }
  </style>
</head>
<body class="flex h-screen min-w-screen justify-beginning pl-3 overflow-y-hidden">
  <main class="flex flex-none item-center">
    <div class="flex items-center">
      <img src="/background_1.jpg" class="">
    </div>
    <div class="flex items-center">
      <img src="/background_1.jpg" class="">
    </div>
  </main>
</body>
</html>
