<!doctype html>
<html>
  <head>
    <title>
      Türchen 19 – Klima im Advent
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@klimaimadvent"/>
    <meta name="twitter:title" content = "Klima im Advent" />
    <meta name = "twitter:description" content = "Bastelspaß an Weihnachten" />
    <meta name = "twitter:image" content="/twitter_preview.jpg"/> 
    <link rel="icon" href="/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/favicon-228.png" sizes="228x228">
    <link rel="shortcut icon" sizes="196x196" href=“/favicon-196.png">
    <link rel="apple-touch-icon" href="/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/favicon-180.png" sizes="180x180">
    <meta name="msapplication-TileColor" content="#9a5c51">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml" />  
    <%- include("matomo") %>
<style>
#hoofs-left-1, #hoofs-left-2, #hoofs-right-1, #hoofs-right-2 {
  transition: opacity 0.6s;
}

#hoofs-left-1 {
  transform: translate3d(var(--hoof-l-1-x),var(--hoof-l-1-y),0);
  opacity: var(--hoof-l-1-opacity, 1);
}
#hoofs-left-2 {
  transform: translate3d(var(--hoof-l-2-x),var(--hoof-l-2-y),0);
  opacity: var(--hoof-l-2-opacity, 1);
}
#hoofs-right-1 {
  transform: translate3d(var(--hoof-r-1-x),var(--hoof-r-1-y),0);
  opacity: var(--hoof-r-1-opacity, 1);
}
#hoofs-right-2 {
  transform: translate3d(var(--hoof-r-2-x),var(--hoof-r-2-y),0);
  opacity: var(--hoof-r-2-opacity, 1);
}
#game {
  width: 100%;
  height: 50vw;
}
</style>
  </head>
  <body class="w-full bg-white">
    <img
      src="/hoofs_left_2.png"
      class="absolute left-0 top-0 hidden lg:block"
      id="hoofs-left-2">
    <img
      src="/hoofs_right_2.png"
      class="absolute left-0 top-0 hidden lg:block"
      id="hoofs-right-2">
    <img
      src="/hoofs_left_1.png"
      class="absolute left-0 top-0 hidden lg:block"
      id="hoofs-left-1">
    <img
      src="/hoofs_right_1.png"
      class="absolute left-0 top-0 hidden lg:block"
      id="hoofs-right-1">
    <div
      class="flex flex-col bg-white max-w-xl mx-auto"
      >
      <main class="mt-5 -mr-4 px-8 pb-3">
        <div class="flex items-center justify-between">
          <h1
            class="font-bold text-3xl leading-tight mb-2 mr-2 relative">
            Türchen 23
          </h1>
          <img src="/pinguin.png" class="w-12">
        </div>
        <p>
          Da der Weihnachtsmann die Schokolade über Nacht getrocknet hat, ging
          es jetzt daran die Schokoladen aus ihren Förmchen zu lösen und
          einzupacken. Damit ihm nicht langweilig wurde, hatte Sophia, die
          älteste Elfe, ihm am Nachmittag ein paar neue Weihnachtslieder
          rausgesucht, zu denen er nun fröhlich pfeifend Beutelchen packte. Die
          Musik war so toll und er tanzte so viel durch die Backstube, dass er
          nach zwei Stunden erst beim dritten Beutelchen war.  Als er die Lieder
          irgendwann alle zum ungefähr 200. Mal gehört hatte, war er endlich
          fertig. Das Ergebnis konnte sich auf jeden Fall sehen lassen, jeder
          hatte jetzt ein kleines Säckchen mit verschiedenen selbstgemachten
          Schokoladen und der Weihnachtsmann konnte sich endlich wieder um das
          Verpacken der letzten Geschenke für den morgigen Tag kümmern.
        </p>
        <p>
          Ihr braucht auch noch die perfekte Musik, um eure Geschenke
          einzupacken und für Weihnachtsstimmung zu sorgen? Wir haben hier einen
          coolen Weihnachtssong für euch!
          <audio controls class="w-full">
            <source src="/merry_crisis.mp3" type="audio/mpeg">
          </audio>
        </p>
        <p>
          Und
          <a
            href="/merry_crisis.mp3"
            target="_blank"
            class="text-green-light"
          >
            hier
          </a> könnt ihr ihn downloaden :)
        </p>
      </div>
    </div>
    <script src="/js/tag_1.js">
    </script>
  </body>
</html>
