<!doctype html>
<html>
  <head>
    <title>
      Tag 1
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <%- include("matomo") %>
  </head>
  <body class="w-screen bg-green-light">
    <div class="flex flex-col bg-white max-w-lg mx-auto shadow-2xl">
      <header>
        <img src="/lichterkette.jpg" class="w-full">
      </header>
      <main class="mt-5 -mr-4 px-12 pb-10">
        <div class="flex items-center justify-between">
          <h1 class="font-bold text-3xl leading-tight mb-2 mr-2">
            Weihnachten tralala!
          </h1>
          <img src="/pinguin.png" class="w-12">
        </div>
        <p class="text-lg leading-tight my-4 font-bold">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          voluptua!
        </p>
        <p class="my-4">
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
          gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
          ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          voluptua. 
        </p>
        <p class="my-4">
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
          gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
          dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
          et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.   
        </p>
        <p class="my-4">
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
          consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
          et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
          dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
        </p>
      </main>
    </div>
  </body>
</html>
