<!doctype html>
<html>
  <head>
    <title>
      Türchen 14 – Klima im Advent
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@klimaimadvent"/>
    <meta name="twitter:title" content = "Klima im Advent" />
    <meta
      name = "twitter:description"
      content = "Nestlé hasst diesen Trick!"/>
    <meta name = "twitter:image" content="/twitter_preview.jpg"/> 
    <link rel="icon" href="/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/favicon-228.png" sizes="228x228">
    <link rel="shortcut icon" sizes="196x196" href="/favicon-196.png">
    <link rel="apple-touch-icon" href="/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/favicon-180.png" sizes="180x180">
    <meta name="msapplication-TileColor" content="#9a5c51">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml" />  
    <%- include("matomo") %>
<style>
@font-face {
  font-family: "Elena";
  src: url("/fonts/elena.ttf");
}
.elena-font {
  font-family: Elena
}
#hoofs-left-1, #hoofs-left-2, #hoofs-right-1, #hoofs-right-2 {
  transition: opacity 0.6s;
}

#hoofs-left-1 {
  transform: translate3d(var(--hoof-l-1-x),var(--hoof-l-1-y),0);
  opacity: var(--hoof-l-1-opacity, 1);
}
#hoofs-left-2 {
  transform: translate3d(var(--hoof-l-2-x),var(--hoof-l-2-y),0);
  opacity: var(--hoof-l-2-opacity, 1);
}
#hoofs-right-1 {
  transform: translate3d(var(--hoof-r-1-x),var(--hoof-r-1-y),0);
  opacity: var(--hoof-r-1-opacity, 1);
}
#hoofs-right-2 {
  transform: translate3d(var(--hoof-r-2-x),var(--hoof-r-2-y),0);
  opacity: var(--hoof-r-2-opacity, 1);
}
#game {
  width: 100%;
  height: 50vw;
}
ul > li::before {
  content: '';
  background-image: url(/weihnachtsmütze.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1.9rem;
  transform: translateY(0.3rem);
  height: 2rem;
  margin-left: -2rem;
}
#facts, #facts > * {
  max-height: 85vh;
}
</style>
  </head>
  <body class="w-full text-white bg-black px-3 pt-3">
    <div class="block" id="facts">
      <img
        src="/facts.jpg"
        alt=""
        class="mx-auto rounded-3xl border-2 max-h-full">
    </div>
    <div>
    <div class="flex items-center justify-around">
      <div class="hidden lg:block">
        <img src="/erde.png" class="w-32">
      </div>
      <div class="text-lg max-w-xl flex flex-col content-center mt-12">
        <div class="flex items-center justify-between">
          <h1 class="font-bold text-4xl leading-tight mb-2 mr-2">
            Türchen 14: Spaziergänge im Winterwunderland
          </h1>
          <img src="/mond.png" class="w-24">
        </div>
        <p>
        Nach der langen Zoom-Konferenz gestern begann der Weihnachtsmann sich an
        die <a href="/tag/9" class="text-green-light">Santa-Care Tipps</a> zu
        erinnern und machte sich mit der Oberelfe zu einem langen entspannenden
        Nordpolspaziergang auf bei dem sie besprachen, ob dieses Jahr das
        Schlittenpolster eher Bordeaux-Rot oder doch lieber Karminrot sein
        sollte (er war ein großer Fan von Karminrot, wohl eine Berufskrankheit).
        </p>
        <p>
          Als sie nach langer Diskussion doch bei Bordeaux-Rot verblieben und
          wieder im Warmen waren, hatten beide ganz rote Wangen von der
          Anstrengung (ob Bordeaux- oder Karminrot soll an dieser Stelle
          verschwiegen werden) und waren sehr durstig. Daher nahmen sie beide,
          kaum die Jacken an die Garderobe gehangen, ein Glas aus der alten
          Vitrine, füllten es gierig mit Leitungswasser und tranken in großen
          Schlucken davon. *Gluck* *Gluck* *Gluck*. Der Weihnachtsmann wischte
          sich durch seinen Bart und musste daran denken, wie er erst letztes Jahr
          erfahren hatte, wie viel klimafreundlicher Leitungswasser ist und
          suchte nach dem Zeitungsartikel von heute, der ihm das noch einmal vor
          Augen geführt hatte.
        </p>
        <img src="/wasserfact.png" alt="So viele Seehunde wie schon lange
        nicht mehr: 41.700 wurden dieses Jahr im Wattenmeer geschätzt. Höchster
        Bestand seit 45 Jahren">
        <p>
          Nachdem er das gelesen hatte, holte er sein Handy raus und rechnete
          sich aus, dass wenn alle Menschen in Deutschland nur noch
          Leitungswasser trinken würden 3 Millionen Tonnen CO2 eingespart werden
          könnten. Das ist 1,5-mal so viel wie alle innerdeutschen Flüge
          zusammen! Zum Glück war der Weihnachtsschlitten des Weihnachtsmann
          klimaneutral.
        </p>
        <p>
          Was ist euer Lieblings Klimafakt?
          Schreibt ihn uns auf
          <a
            href="https://instagram.com/klimaimadvent"
            class="text-green-light"
            >
            Instagram
          </a>
          oder
          <a
            href="https://twitter.com/klimaimadvent"
            class="text-green-light"
            >
            Twitter
          </a>
          damit wir ihn auch teilen können
        </p>
      </div>
      <div class="hidden sm:block">
        <img src="/erde2.png" class="w-32">
      </div>
    </div>
  </body>
</html>
