<!doctype html>
<html>
  <head>
    <title>
      Türchen 2 – Klima im Advent
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@klimaimadvent"/>
    <meta name="twitter:title" content = "Klima im Advent" />
    <meta
      name = "twitter:description"
      content = "Mach dir einen gemütlichen Weihnachtstag mit unserem Kakaorezept am
      2. Tag unseres Klimaadventskalendar"/>
    <meta name = "twitter:image" content="/twitter_preview.jpg"/> 
    <link rel="icon" href="/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/favicon-228.png" sizes="228x228">
    <link rel="shortcut icon" sizes="196x196" href="/favicon-196.png">
    <link rel="apple-touch-icon" href="/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/favicon-180.png" sizes="180x180">
    <meta name="msapplication-TileColor" content="#9a5c51">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml" />  
    <%- include("matomo") %>
<style>
@font-face {
  font-family: "Elena";
  src: url("/fonts/elena.ttf");
}
.elena-font {
  font-family: Elena
}
#hoofs-left-1, #hoofs-left-2, #hoofs-right-1, #hoofs-right-2 {
  transition: opacity 0.6s;
}

#hoofs-left-1 {
  transform: translate3d(var(--hoof-l-1-x),var(--hoof-l-1-y),0);
  opacity: var(--hoof-l-1-opacity, 1);
}
#hoofs-left-2 {
  transform: translate3d(var(--hoof-l-2-x),var(--hoof-l-2-y),0);
  opacity: var(--hoof-l-2-opacity, 1);
}
#hoofs-right-1 {
  transform: translate3d(var(--hoof-r-1-x),var(--hoof-r-1-y),0);
  opacity: var(--hoof-r-1-opacity, 1);
}
#hoofs-right-2 {
  transform: translate3d(var(--hoof-r-2-x),var(--hoof-r-2-y),0);
  opacity: var(--hoof-r-2-opacity, 1);
}
#game {
  width: 100%;
  height: 50vw;
}
ul > li::before {
  content: '';
  background-image: url(/weihnachtsmütze.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1.9rem;
  transform: translateY(0.3rem);
  height: 2rem;
  margin-left: -2rem;
}
</style>
  </head>
  <body class="w-full bg-black text-white px-3">
    <a href="/rezept.pdf" class="block max-h-screen">
      <img src="/haus.jpg" alt="" class="max-h-screen mx-auto">
    </a>
    <div class="flex justify-around items-center">
      <div class="w-32 hidden lg:block">
        <img src="/kreide_baum.png">
      </div>
      <div class="max-w-xl text-lg">
        <h1 class="text-4xl font-semibold">
          Türchen 2: Kakaospaß mit Lou und Elena
        </h1>
        <p>
          „Das war ein intensives Training“, ruft der Weihnachtsmann, „zum Glück
          habe ich ja noch ein paar Tage bis Weihnachten! Dann muss das perfekt
          sitzen!“
        </p>
        <p>
          „Genau Santa, vergiss aber nicht, wir alle brauchen auch mal eine Pause
          – gerade du in deinem Alter solltest dich nicht überlasten“, erklärte ein
          besonders vorlauter, junger Wichtel und wurde prompt von der Oberelfe
          tadelnd angeschaut.
        </p>
        <p>
          Doch statt wütend zu reagieren, lachte der Weihnachtsmann kurz und sagte
          dann mit tiefer Stimme „Du hast ja recht. Nun haben wir uns einen freien
          Abend verdient. Lasst uns in der gemütlichen Weihnachtshütte einkehren und
          den Tag mit einer schönen Tasse warmen Kakao ausklingen lassen.“
        </p>
        <p>
          So gingen sie zur weihnachtlichen Hütte und tranken in Ruhe einen Kakao,
          um Kraft zu tanken. Obwohl das Rezept ein streng behütetes
          Familiengeheimnis ist, konnten wir doch eines der Rentiere dazu bringen
          uns das Rezept zu verraten. Auch Ihr könnt das Rezept aus der
          weihnachtlichen Hütte nachmachen, vielleicht schmeckt der Kakao Euch ja
          genauso gut wie dem Weihnachtsmann und seinen Helfenden.
        </p>
        <p>
          Denn eine Pause zu Kakao hat sich jedes Wesen einmal verdient:
        </p>
      </div>
      <div class="w-32 hidden sm:block">
        <img src="/kreide_snowperson.png">
      </div>
    </div>
    <div class="flex w-full items-center justify-around py-12">
      <div class="hidden xl:block w-16">
        <img src="/kreide_glocke.png">
      </div>
      <div class="hidden sm:block w-12">
        <img src="/kreide_schneeflocke.png">
      </div>
      <div class="w-48">
        <img src="/kreide_yummy.png">
      </div>
      <div class="hidden sm:block w-12">
        <img src="/kreide_schneeflocke2.png">
      </div>
      <div class="hidden xl:block w-16">
        <img src="/kreide_kugel_red.png">
      </div>
    </div>
    <header class="flex justify-around items-center elena-font">
      <div class="w-32 hidden sm:block">
        <img src="/kreide_snowperson.png">
      </div>
      <div class="max-w-sm px-8">
        <h1 class="text-3xl text-pink">
          Zutaten
        </h1>
        <ul class="pl-2 text-lg">
          <li> Eine Tasse Kokos-Reis-Milch (oder andere Pflanzenmilch) </li>
          <li> Dunkle Schokolade </li>
          <li> Zimt (&amp; weitere Weihnachtsgewürze deiner Wahl) </li>
          <li> Kakaopulver </li>
        </ul>
      </div>
      <div class="w-32">
        <img src="/kreide_tasse.png">
      </div>
    </header>
    <main class="flex justify-around items-center elena-font">
      <div class="w-32 hidden lg:block">
        <img src="/kreide_kranz.png">
      </div>
      <div>
        <h1 class="text-center text-5xl text-pink" id="zubereitung">
          <img src="/arrow_right.png" alt="" class="w-10 hidden sm:inline">
          Zubereitung
          <img src="/arrow_left.png" alt="" class="w-12 hidden sm:inline">
        </h1>
        <ol class="list-decimal pl-5 text-xl max-w-lg mx-auto">
          <li>
            Erhitze deine Tasse Pflanzenmilch in einem Topf
          </li>
          <li>
            <div class="flex items-center">
              <p class="mb-3">
                Füge sobald sie dampft nach &amp; nach dunkele Schokolade hinzu
              </p>
              <div class="w-16 flex-none">
                <img src="/kreide_kugel.png" class="inline w-16 block lg:hidden">
              </div>
              </div>
            <div class="flex item-center">
              <p class="mb-3">
                Stelle die Herdplatte etwas kleiner. Rühre mit einem Schneebesen oder
                etwas anderem dauerhaft gut um.
              </p>
            </div>
          </li>
          <li>
            Sobald die Schokolade geschmolzen ist, füge Zimt &amp; weitere Gewürze
            hinzu.
          </li>
          <li>
            Wenn du magst füge Kakaopulver und/oder Zucker hinzu.
          </li>
          <li>
            Serviere deinen Kakao weihnachtlich
          </li>
          <li>
            Schick uns ein Bild deines weihnachtlich servierten Kakaos auf
            Instagram (<a
              href="https://instagram.com/klimaimadvent">@klimaimadvent</a>)
            (optional) oder teile es mit deinen Freund*innen
          </li>
        </ol>
      </div>
      <div class="hidden lg:block">
        <img src="/kreide_kugel.png" class="w-32">
      </div>
    </main>
    <div class="flex w-full items-center justify-around py-12">
      <div class="hidden xl:block w-10">
        <img src="/kreide_candle.png">
      </div>
      <div class="hidden sm:block w-16">
        <img src="/kreide_gift.png">
      </div>
      <div class="w-20">
        <img src="/kreide_heart.png">
      </div>
      <div class="hidden sm:block w-32">
        <img src="/kreide_bon_appetit.png">
      </div>
      <div class="hidden xl:block w-10">
        <img src="/kreide_candle2.png">
      </div>
    </div> 
  </body>
</html>
